@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Orbitron&display=swap');
/* Regra utilitária para ajustes no Box Model 
(usar sempre! em qualquer projeto web) */

*, *::after, *::before {box-sizing: border-box;}

html {
    font-size: 18px;
    scroll-behavior: smooth;
}

body {
    background-image: url(imagens/textura-fundo.png);
    background-attachment: fixed;
    font-family: 'Open Sans', sans-serif;

}

img {max-width: 100%;}

/* Regras de CSS Reset */
body, h1, h2, h3 {
    margin: 0; padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

header, footer {
    background-color: rgba(128, 128, 128, 0.199);
    text-align: center;
    
}

header {
    border-bottom: solid 2px;
    margin-bottom: 8px;
}

header h1 {
    padding: 5px 0;
}

footer {
    border-top: solid 2px; margin-bottom: 0;

}

h1, h2, h3, nav, button {
    font-family: 'Orbitron', sans-serif;
}

main {
    width: 95%;
    margin: auto;
} 

article {
    background-color: white;
    box-shadow: grey 1px 1px 5px;
    margin-bottom: 10px;
    padding: 10px;
}

h2, h3, p {
    padding: 1% 0;
}

footer img {
    width: 50px;
}

footer h2 {
    font-size: 1.2rem;
}

footer p {
    margin-bottom: 0;
    font-size: .75rem;
}

section, figure { 
    margin: 40px 0;
}

figcaption {
    text-align: center;
    font-weight: bold;
    font-size: .8rem;
}

iframe {
    width: 100%;
}

/* Regras temporárias para auxílio no ajuste de espaços e alinhamentos */

/* h1 {
    background-color: red;
}
h1 a {
    background-color: green;
}
nav {
    background-color: yellow;
}
nav a {
    background-color: blue;
} */


h1, h1 a, nav, nav a {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 5px 0;
    font-size: 2.2rem;
}

h1 img {
    width: 50px;
}

nav a {
    height: 50px;
    font-size: 1.1rem;
    width: 100%;
}

nav a:hover, nav a:focus {
    background-color: black;
    color: white;
} 

input, textarea {
    border: solid 1.5px;
    width: 100%;
    padding: 10px;
    font-size: .9rem;
}

label {
    font-size: .7rem;
}

button {
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    padding: 10px;
}

button:hover, button:focus {
    background-color: blue;
    cursor: pointer;
}

#voltar_topo {
    position: fixed;
    /* top, botoom, left, right, z-index */ 
    bottom: 0px;
    right: 5px;

}

#voltar_topo a {
    background-color: black;
    color: white;
    padding: 5px;
}

#voltar_topo a:hover, #voltar_topo a:focus {
    background-color: darkblue;
} 

#voltar_topo a::before {
    content: "▲";
}

/* Media Queries
Regras especiais que aplicarão formatações de acordo
com determinadas condições (a partir de certos tamanhos de tela) */

@media screen and (min-width: 700px) {
    header .container {
        display: flex;
        justify-content: space-between;
        width: 95%;
        margin: auto;
    }
}

@media screen and (min-width: 750px) {
    .grupo {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        
    }

    .grupo figure, .grupo section {
        width: 49%;
        margin-top: 5px;
        margin-bottom: 5px;
    }

}

@media screen and (min-width: 820px) {
    html {
        font-size: 20px;
    }
    
}


@media screen and (min-width: 1000px) {
    .container, main { max-width: 1000px;
        
    }
    header {
        position: fixed;
        z-index: 10;
        width: 100%; 
        background-color: rgba(128, 128, 128, 0.514);
        top: 0;
        
    }

    #voltar_topo {
        display: none;
    }

    #topo, #o_que_fazemos, #nossas_equipes, #contato {
        padding-top: 75px;
    }
}

/* Exercícios */

/* 
1)Acesse o HTML da página index e adicione uma div com a classe "grupo" às sessões do artigo "O que fazemos"

2)Acesse o HTML da página index e adicione uma div com a classe "grupo" aos figures do artigo "Nossas Equipes"

3)Crie uma nova media query para telas a partir de 750px (esse valor pode mudar), com as seguintes regras/propriedades: 
-uma classe chamada grupo, contendo flex, espaçamento entre e flex-wrap: wrap. 
-uma regra para as seções contidas na classe grupo, e para os figures contidos na classe grupo, contento largura de 49% (experimente antes usar 50%)

*/
